<div>
  <h2 id="page-heading" data-cy="AkteHeading">
    <span>Aktes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-akte"
        [routerLink]="['/akte/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Akte </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="aktes?.length === 0">
    <span>No aktes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="aktes && aktes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="aktenthema"><span>Aktenthema</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="organisationsEinheit"><span>Organisations Einheit</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="aktenMeter"><span>Akten Meter</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="haengend"><span>Haengend</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="standort"><span>Standort</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let akte of aktes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/akte', akte.id, 'view']">{{ akte.id }}</a>
          </td>
          <td>{{ akte.aktenthema }}</td>
          <td>{{ akte.organisationsEinheit }}</td>
          <td>{{ akte.aktenMeter }}</td>
          <td>{{ akte.haengend }}</td>
          <td>
            <div *ngIf="akte.raum">
              <a [routerLink]="['/raum', akte.raum?.id, 'view']">{{ akte.standort }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/akte', akte.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/akte', akte.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(akte)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <!-- Hier wird die Summe aller eingegebenen Meter aller Akten aller Raeume ausgegeben. -->
      <h2>Gesamtaktenmeter = {{ gesamtmeter }}</h2>
    </div>
  </div>
</div>
