<div>
  <h2 id="page-heading" data-cy="RaumHeading">
    <span>Raums</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-raum"
        [routerLink]="['/raum/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Raum </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="raums?.length === 0">
    <span>No raums found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="raums && raums.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="gebaeude"><span>Gebaeude</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="raumnummer"><span>Raumnummer</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="etage"><span>Etage</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="zusatz"><span>Zusatz</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let raum of raums; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/raum', raum.id, 'view']">{{ raum.id }}</a>
          </td>
          <td>{{ raum.gebaeude }}</td>
          <td>{{ raum.raumnummer }}</td>
          <td>{{ raum.etage }}</td>
          <td>{{ raum.zusatz }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/raum', raum.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/raum', raum.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(raum)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
